@import 'tailwindcss';
@import 'nextra-theme-docs/style.css';

html,
body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  user-select: none;
}

::selection {
  background-color: #0a0a0a;
  color: #fefefe;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
